@import '../../../assets/base/sass/utils/variables';

.body {
  background-color: $secondary-bg-color;
  padding: 40px 15px 83px 15px;
}
.navlink {
  border-radius: 20px 20px 0 0;
  display: inline-block;
  padding: 20px 20px;
  background-color: $secondary-bg-color;
  text-decoration: none;

  font-family: Roboto;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: $primary-font-color;

  @media screen and (min-width: 500px) {
    padding: 20px 40px;
  }
}

.activenavlink {
  background-color: #fefefe;

  font-family: Roboto;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: $accent-color;
}

.transHead {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  @media screen and (min-width: 560px) {
    margin-bottom: 0px;
    flex-direction: row;
  }
}

.goReports {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: rgba(82, 85, 95, 0.7);
  margin-left: 18px;
  text-decoration: none;
}
