.summaryLine {
  display: flex;
  padding: 30px 20px;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 25px;
  margin: -68px auto 40px;
  background-color: white;
  width: 282px;
  height: 85px;
  border-radius: 20px;
  box-shadow: 5px 10px 20px 0px rgba(170, 178, 197, 0.4);
}

.expenses,
.incomes {
  display: flex;
  flex-direction: column;
}

.name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #52555f;
}

.sumIn,
.sumEx {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
}

.sumEx {
  color: #e53935;
}

.sumIn {
  color: #407946;
}

@media screen and (min-width: 768px) {
  .summaryLine {
    margin: 0 auto;
    height: 50px;
  }

  .expenses,
  .incomes {
    flex-direction: row;
  }
}
