@import '../../assets/base/sass/utils/variables';

.wrapper {
  display: flex;
  flex-direction: column;

  max-width: 1280px;
  padding: 86px 88px 137px 49px;
  max-width: 320px;
  margin: 0 auto;
  height: 100vh;
  background: url('../../assets/images/single-cabbage-down.png') no-repeat 272px
      116px,
    url('../../assets/images/single-cabbage-up.png') no-repeat 35px 735px,
    url('../../assets/images/bg-mobile.png') no-repeat;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 90px 291px 335px 171px;

    background: url('../../assets/images/cabbage.png') no-repeat 10px 48px,
      url('../../assets/images/double-cabbage.png') no-repeat 100px 775px,
      url('../../assets/images/bg-tablet.png') no-repeat;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 308px 673px 79px 230px;

    background: url('../../assets/images/cabbage.png') no-repeat 10px 70px,
      url('../../assets/images/double-cabbage.png') no-repeat 245px 765px,
      url('../../assets/images/bg-desktop.png') no-repeat;
  }
}

.title {
  font-family: inherit;
  font-size: 46px;
  font-weight: 700;
  margin: 0 0 8px 0;
  color: $primary-font-color;

  @media screen and (min-width: 768px) {
    position: relative;
    z-index: 5;

    font-size: 78px;
  }

  @media screen and (min-width: 1280px) {
    font-weight: 900;
    font-size: 102px;
    line-height: 1.18;
  }
}

.desc {
  font-family: inherit;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: $secondary-font-color;
  padding-left: 12px;
  margin: 0;

  @media screen and (min-width: 768px) {
    position: relative;
    z-index: 5;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.18em;
    padding-left: 35px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 65px;
  }
}
