@import '../../assets/base/sass/utils/variables';

.title {
  font-family: inherit;
  font-size: 46px;
  font-weight: 700;
  margin: 0 0 8px 0;
  color: $primary-font-color;

  @media screen and (min-width: 768px) {
    font-weight: 700;
    font-size: 78px;
  }

  @media screen and (min-width: 1280px) {
    font-weight: 900;
    font-size: 102px;
    line-height: 1.18;
  }
}

.desc {
  font-family: inherit;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: $secondary-font-color;
  padding-left: 12px;
  // margin: 0;

  @media screen and (min-width: 768px) {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.18em;
    padding-left: 35px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 65px;
  }
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  padding: 86px 88px 50px 49px;

  @media screen and (min-width: 768px) {
    padding: 90px 290px 50px 171px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 377px;
    padding: 308px 127px 347px 230px;
  }
}
