@import '../../../assets/base/sass/utils/variables';

.switcher {
  display: flex;
  justify-content: center;
}

.categories {
  display: flex;
  text-align: center;
}

.active {
  fill: $accent-color;
}
