@import '../../assets/base/sass/utils/variables';

header {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 13px;
  background-color: $primary-bg-color;
  width: 100vw;
}

.logoLink {
  display: inline-flex;
  align-items: flex-start;
  width: 91px;
  height: 31px;
  margin-left: 19px;

  @media screen and (min-width: 768px) {
    margin-left: 26px;
  }
}

.userInfo {
  position: fixed;

  top: 17px;
  right: 135px;

  display: flex;
  align-items: center;
  margin-right: 40px;
}

.logoutBtn {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    border: transparent;
    text-decoration: underline;
  }
}

.modalText {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;

  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $secondary-font-color;
}
