@import '../../assets/base/sass/utils/variables';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding-top: 12px;
  padding-bottom: 13px;
  background-color: $primary-bg-color;
}

.logo {
  display: inline-block;
  align-items: flex-start;
  width: 91px;
  height: 31px;
  margin-left: 19px;

  @media screen and (min-width: 768px) {
    margin-left: 26px;
  }
}
