$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f6fb;
$accent-color: #ff751d;
$auxiliary-accent-color: #ffdac0;

$primary-font-color: #000000;
$secondary-font-color: #52555f;
$auxiliary-font-color-1: #c7ccdc;
$auxiliary-font-color-2: #a6abb9;

$kapusta-color: #dfe2eb;

$expenses-color: #e7192e;
$income-color: #407946;
$modal-bg-color: #1d346a; //linear-gradient

$logo-color-1: #fb7c2f;
$logo-color-2: rgba(251, 124, 47, 0.2);
