.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 59px;
}
.calendarWrapper {
  margin-right: 23px;
}
.calendar {
  position: absolute;
  top: 40px;
  z-index: 100;
}
.calendarLabel {
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}
.calendarIcon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  button {
    // временные стили
    width: 125px;
  }

  button:not(:last-child) {
    margin-right: 15px;
  }
}
.input {
  width: 51%;
  padding: 10px 20px;
  border-radius: 16px 0 0 0;

  border: 2px solid #f5f6fb;
}
.input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #c7ccdc;
}
.select {
  width: 27%;
  padding: 10px 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #c7ccdc;

  border: 2px solid #f5f6fb;
}
.calc {
  width: 22%;
  margin-right: 27px;
  padding: 10px 82px 10px 20px;
  text-align: right;
  border-radius: 0 16px 16px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #c7ccdc;

  border: 2px solid #f5f6fb;
}
.calc::-webkit-outer-spin-button,
.calc::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.calculatorWrapper {
  position: relative;
  // width: 22%;
}
.calculatorIcon {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
}
