@import '../../../assets/base/sass/utils/variables';

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 59px;
}

.formData {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column-reverse;
  align-items: center;
  @media screen and (min-width: 500px) {
    flex-direction: row;
  }
  @media screen and (min-width: 900px) {
    margin-bottom: 0px;
  }
}

.formInputs {
  display: flex;
}

.calendarWrapper {
  // margin-right: 23px;

  margin: 20px auto 0;
  @media screen and (min-width: 500px) {
    margin: 0 23px 0;
  }
}
.calendar {
  position: absolute;
  top: 40px;
  z-index: 100;
}
.calendarLabel {
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}
.calendarIcon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: column;

  @media screen and (min-width: 900px) {
    flex-direction: row;
  }

  .buttonsWrapper {
    display: flex;
    @media screen and (min-width: 900px) {
      margin-left: 27px;
    }
  }

  .button {
    max-width: 125px;
    width: 125px;
    height: 44px;
    display: inline-block;
    border-radius: 16px;
    background-color: inherit;
    border: 1px solid $secondary-bg-color;

    font-family: inherit;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: $secondary-font-color;

    &:focus,
    &:hover {
      box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
      color: $accent-color;
    }
  }

  .button:not(:last-child) {
    margin-right: 15px;
  }
}
.input {
  width: 51%;
  padding: 10px 20px;
  border-radius: 16px 0 0 0;

  border: 2px solid $secondary-bg-color;
}
.input::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $auxiliary-font-color-1;
}
.select {
  width: 27%;
  padding: 10px 20px;

  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $auxiliary-font-color-1;

  border: 2px solid $secondary-bg-color;
}
.calc {
  width: 22%;
  margin-right: 27px;
  padding: 10px 82px 10px 20px;
  text-align: right;
  border-radius: 0 16px 16px 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $auxiliary-font-color-1;

  border: 2px solid $secondary-bg-color;
}
.calc::-webkit-outer-spin-button,
.calc::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.calculatorWrapper {
  position: relative;
  // width: 22%;
}
.calculatorIcon {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
}
