@import '../../../assets/base/sass/utils/variables';

.modal {
  position: relative;
  width: 380px;
  height: 194px;
  border-radius: 30px;
  padding: 50px 50px 60px 50px;
  background-color: $primary-bg-color;
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: 379px) {
    max-width: 310px;
  }
}

.modal-content {
  padding: 10px;
  background-color: $primary-bg-color;
  height: 100px;
  width: 100px;
}

.modal.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

.modalBtnYes {
  width: 125px;
  height: 44px;
  display: inline-block;
  border-radius: 16px;
  margin-right: 15px;
  background-color: $accent-color;
  color: $primary-bg-color;
  border: none;

  font-family: Roboto;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  &:focus,
  &:hover {
    box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
    background-color: $accent-color;
    color: $primary-bg-color;
  }
}

.modalBtnNo {
  width: 125px;
  height: 44px;
  display: inline-block;
  border-radius: 16px;
  margin-left: 15px;
  background-color: inherit;
  border: 1px solid $secondary-bg-color;

  font-family: inherit;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: $secondary-font-color;

  &:focus,
  &:hover {
    box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
    color: $accent-color;
  }
}

.modalClose {
  width: 12px;
  height: 12px;
  top: 20px;
  right: 20px;
  display: block;
  position: absolute;
  font-size: 12px;
  border: none;
  box-shadow: none;
  background-color: inherit;

  &:hover,
  &:focus {
    box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
    fill: $accent-color;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}
