@import '../../../assets/base/sass/utils/variables';

button {
  background-color: $primary-bg-color;
}

.icon {
  fill: #071f41;
  position: relative;
}

.activeIcon {
  position: relative;
  fill: $accent-color;
}

.iconWrapper {
  position: relative;
}

.rect {
  position: absolute;
  display: block;
  width: 56px;
  height: 46px;
  background: $secondary-bg-color;
  border-radius: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.activeRect {
  position: absolute;
  display: block;
  width: 56px;
  height: 46px;
  border-radius: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $auxiliary-accent-color;
}
