.assets {
  padding: 33px 20px 61px 20px;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 0px 30px 30px 30px;
}
.listsWrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
}
